
html{
    font-family: 'Quicksand', 'Arial',sans-serif;
}

#banner{
	background-image:linear-gradient(rgba(0, 0, 0, 0.33),rgba(0, 0, 0, 0.67)),url(skeleton.png);
	background-image:linear-gradient(rgba(0, 0, 30, 0.33),rgba(30, 0, 0, 0.67)),url(skeleton.png);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}
.jumbotron{
    position: relative;
    padding-top: 10%;
    padding-left: 10%;
    
}
h2{
    font-size: 400%;
    color: #ffffff;
    background-color: brown;
    width: 40%;
    text-align: left;
    padding-left: 3%;
    
}
ul{
    font-size: 300%;
}
#jumbotron{
    width: auto;
}
a{
    color: aliceblue;
}